<div>
  <nav>
    <div class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a routerLink="/" class="navbar-brand"><img src="assets/images/numeris_logo4.png" alt="Task List" style="width:40px;" ></a>
            <strong><a routerLink="/" class="navbar-brand">Task List (UAT)</a></strong>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <strong><a routerLink="/" class="nav-item nav-link"><i class="far fa-calendar-alt" style="width: 15px;; color:#00008b;"></i> {{ curentDate | date: 'dd-MMM-yyyy' }} </a></strong>
                    <a routerLink="/" class="nav-item nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                      <i class="fas fa-home" style="width: 15px;; color:#00008b;"></i> Home
                    </a>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-expanded="false">Administration</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a  routerLink="/dashboard" class="dropdown-item"><i class="fas fa-weight" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Dashboard</a>
                            <li><hr class="dropdown-divider"></li>
                            <a routerLink="/listtask" class="dropdown-item"><i class="fas fa-tasks" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Tasks</a>
                            <a routerLink="/weights" class="dropdown-item"><i class="fas fa-user-circle" style="width: 30px; color:#00008b;" aria-hidden="true"></i> User Weights</a>
                            <a routerLink="/delegates" class="dropdown-item"><i class="fas fa-user-friends" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Delegates</a>
                            <a routerLink="/engineers" class="dropdown-item"><i class="fas fa-users" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Engineers</a>
                            <a routerLink="/longweekends" class="dropdown-item"><i class="fas fa-calendar-alt" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Long Weekend Reminders</a>
                            <li><hr class="dropdown-divider"></li>
                            <a routerLink="/settings" class="dropdown-item"><i class="fas fa-cogs" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Global Settings</a>
                        </div>
                    </div>
                    <a routerLink="/tasks"  routerLinkActive="active" class="nav-item nav-link active">
                        <i class="fas fa-tasks" style="width: 15px;; color:#008b00;">
                        </i>  <span><strong>Tasks</strong></span>
                    </a>

                </div>
                <div class="navbar-nav ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-user-circle" style="width: 15px; color:#00008b;" aria-hidden="true"></i> {{ userName }} ({{ userId }}) </a>
                        <div class="dropdown-menu">
                            <a routerLink="/settings" class="dropdown-item"><i class="fas fa-cog" style="width: 30px; color:#00008b;" aria-hidden="true"></i> Settings</a>
                            <a routerLink="/login" class="dropdown-item"><i class="fas fa-user" style="width: 30px; color:#00008b;" aria-hidden="true"></i>  {{ userName }} ({{ userId }}) </a>
                        </div>
                    </div>

                    <a href="#" class="nav-item nav-link">   <i class="fas fa-sign-out-alt" style="width: 15px; color:#00008b;" aria-hidden="true"></i>  Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>

