<div class="container container-xl">
  <br />
  <h1 class="text-primary">User Weights</h1>
  <br />
  <!-- Date Range Picker Component -->
  <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
        <input type="text"
               placeholder="Choose Start & End Dates"
               class="form-control"
               bsDaterangepicker
               [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false , isAnimated: true  , containerClass: 'theme-dark-blue' }"
               placement="right"
        >
      </div>
  </div>
  <!--------------------------------->
  <br /><hr />

  <br /><br />

<img src="assets/images/weights.png" alt="Task Weights" style="width:1182px;height:362px;">
  <br />

</div>
