<footer>
	<p>Copyright &copy; {{ curentYear | date: 'yyyy' }} - Numeris Task List</p>
  <br />

    <p>
      <a routerLink="/" class="link_no_underline">Home</a> |
      <a routerLink="/tasks" class="link_no_underline">Task List</a> |
      <a routerLink="/tasks/:id" class="link_no_underline">Task Details</a> |
      <a routerLink="/tasksadd" class="link_no_underline">Task Add</a> |
      <a routerLink="/weights" class="link_no_underline">User Weights</a> |
      <a routerLink="/dashboard" class="link_no_underline">Dashboard</a> |
      <a routerLink="/delegates" class="link_no_underline">Delegates</a> |
      <a routerLink="/engineers" class="link_no_underline">Engineers</a> |
      <a routerLink="/weekends" class="link_no_underline">Long Weekend Reminders</a> |
      <a routerLink="/settings" class="link_no_underline">Global Settings</a> |
      <a routerLink="/login" class="link_no_underline">Login</a> |
      <a routerLink="/about" class="link_no_underline">About</a> |
      <a routerLink="/listtasktab" class="link_no_underline">Task List</a> |
      <a routerLink="/tester1" class="link_no_underline">Test 1</a> |
      <a routerLink="/tester2" class="link_no_underline">Test 2</a> |
    </p>

  <br />
</footer>
