<div class="container is-max-widescreen">
  <br />
<h2  class="text-primary">Resources</h2>
  <p>All links open in a new window</p>
  <br /><br />
<div class="row">
  <div class="col-sm-6">
        <!------->
        <div class="row">
          <div class="col-sm-3">
              <i class="fas fa-wrench fa-3x" style="color:#3273dc;" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9">
              <h3>V1 to V2 Conversion</h3>
              <div>
                  <ul style="list-style-type: none;">
                      <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">V1 to V2 Tickets</a> - &nbsp; &nbsp;
                          <span><small><em>link not working</em></small></span>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
        <!------->
    </div>
  <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-3 text-center">
              <i class="fas fa-book-open fa-3x" style="color:#3273dc;" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9">
              <h3>Quick Guide for PAs</h3>
              <ul style="list-style-type: none;">
                  <li>
                      <a href="#">PA Task List User Guide</a> - &nbsp; &nbsp;
                      <span><small><em>link not working</em></small></span>
                  </li>

                  <li>
                      <a href="https://www.purolator.com/en" target="_blank"
                          rel="noopener noreferrer">Purolator</a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
</div>

  <br /><br />

<div class="row">
  <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-3">
              <i class="fas fa-chart-bar fa-3x" style="color:#3273dc;" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9">
              <h3>Reports</h3>
              <ul style="list-style-type: none;">
                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fPA+Daily+Tasks"
                          target="_blank" rel="noopener noreferrer">PA Daily Task List Report</a> - &nbsp; &nbsp;
                          <span><small><em>link not working</em></small></span>
                  </li>

                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fEngDailyTasksCompletedWithTaskDetailSortedByActualWeight"
                          target="_blank" rel="noopener noreferrer">PA Task List Completion Report</a>
                  </li>

                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fPA_28Day_Report "
                          target="_blank" rel="noopener noreferrer">28 Day Analysis Report</a>
                  </li>

                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fENGCodeExceptionReport"
                          target="_blank" rel="noopener noreferrer">ENG Code Exception Report</a>
                  </li>

                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fHouseholdNumberExceptionReport "
                          target="_blank" rel="noopener noreferrer">Household Number Exception Report</a>
                  </li>
                  <li>
                      <a href="http://biasrsw01u-dm/Reports/Pages/Report.aspx?ItemPath=%2fPPM%2fPanel+Admin%2fProd%2fPA+Daily+Tasks+Counts"
                          target="_blank" rel="noopener noreferrer">PA Daily Tasks Counts</a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-3 text-center">
              <i class="fas fa-globe fa-3x" style="color:#3273dc;" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9">
              <h3>General Resources</h3>
              <ul style="list-style-type: none;">
                  <li>
                      <a href="https://www.google.ca/maps/" target="_blank" rel="noopener noreferrer">Google
                          Maps</a>
                  </li>
                  <li>
                      <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">Google
                          Search</a>
                  </li>
                  <li>
                      <a href="https://en.numeris.ca/" target="_blank" rel="noopener noreferrer">Numeris</a>
                  </li>
                  <li>
                      <a href="https://www.merriam-webster.com/dictionary/dictionary" target="_blank"
                          rel="noopener noreferrer">Merriam-Webster Dictionary</a>
                  </li>
                  <li>
                      <a href="https://www.cbc.ca/" target="_blank" rel="noopener noreferrer">CBC News</a>
                  </li>
                  <li>
                      <a href="https://www.wikipedia.org/" target="_blank"
                          rel="noopener noreferrer">Wikipedia</a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
</div>
  <br /><br />
</div>
